/* Border box set according to
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

    *,
    *::before,
    *::after {
        -webkit-box-sizing: inherit;
           -moz-box-sizing: inherit;
                box-sizing: inherit;
    }

html, body { 
    height: 100vh; 
    margin: 0; 
    padding: 0; 
    color: #514a3b;
    background-color: #fcf8f1;
    font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

a,
a:visited {
    text-decoration: none;
    color: #265e98;
}

header {
    height: 100px;
    display: flex;
    align-items: top;
    background: url("../img/skyline.png") center 50px no-repeat;
    background-size: 600px;
    border-bottom: 8px solid #514a3b;
}

#title, #search-form {
    flex: 1 1 50%;
}

#title {
    padding-left: 10px;
}

#title h1 {
    font-size: 24px;
    margin-top: 10px;
}

#search-form {
    padding-right: 10px;
    margin-top: 10px;
    text-align: right;
}

.search-text {
    width: 300px;
}

main {
    height: calc(100vh - 120px);
    display: flex;
}

.list-view {
    flex: 0 0 250px;
    background-color: #514a3b;
    color: #fcf8f1;
}

.categories {
    list-style-type: none;
    padding: 0;
}

.category {
    padding: 10px 0 0 10px;
}

.legend-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 0 5px 0 10px;
}

.legend-icon-small {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 8px;
}

.list {
    height: 100%;
    overflow: auto;
    height: calc(100% - 145px);
}

#properties {
    list-style-type: none;
    padding: 0;
}

.property {
    padding: 8px 5px 8px 5px;
    font-size: 14px;
    font-weight: lighter;
    height: 100%;
    position: relative;
    border-top: 1px solid #9C9C9C;
}

.property-label {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    max-width: 220px;
}

.property:hover {
    background-color: #769ba2;
}

#map { 
    height: 100%; 
    flex-grow: 1;
}

#pano {
    width: 100%;
    height: 300px;
}

#lightbox {
    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    max-width: 640px;
    min-height: 380px;
    z-index: 100;
    background-color: #f9f2e3;
    box-shadow: 5px 5px 10px #514a3b;
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.hidden {
    display: none;
}