/* Border box set according to
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

html {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

    *,
    *::before,
    *::after {
        -webkit-box-sizing: inherit;
           -moz-box-sizing: inherit;
                box-sizing: inherit;
    }

html, body { 
    height: 100vh; 
    margin: 0; 
    padding: 0; 
    color: #514a3b;
    background-color: #e1d4b8;
    font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

a,
a:visited {
    text-decoration: none;
    color: #265e98;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
}

#title, #search-form {
    flex: 1 1 50%;
}

#title {
    padding-left: 10px;
}

#search-form {
    padding-right: 10px;
    text-align: right;
}

main {
    height: calc(100vh - 120px);
    display: flex;
}

#sidebar {
    flex: 0 0 230px;
    overflow: auto;
}

#search-text {
    width: 200px;
}

#properties {
    list-style-type: none;
    padding: 0;
}

.property {
    padding: 5px 3px;
}

.property:hover {
    background-color: #769ba2;
}

#map { 
    height: 100%; 
    flex-grow: 1;
}

#pano {
    width: 100%;
    height: 300px;
}

#lightbox {
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    max-width: 400px;
    min-height: 300px;
    z-index: 100;
    background-color: #f9f2e3;
    box-shadow: 5px 5px 10px #514a3b;
    text-align: center;
}

.hidden {
    display: none;
}